@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins";
    line-height: 1;
    max-width: 100%;
    width: 100%;
}

table {
    width: 98%;
    height: 30%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
}

h2 {
    border-bottom: 2px solid grey;
    margin-right: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
}

tr {
    border: 3px solid black;

}

.view_section {
    background-color: white;
}

tr:nth-child(1){
   background-color:grey;
}

td {
        border: 3px solid black;
}

/* .register_button {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    background-color: grey;
    border-radius: 10px;
    top: 7;
    right: 15;
}

.register_button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
} */


